.h1 {
    font-style: normal;
    font-size: 50px;
    text-align: center;
    
    color: #DBDBDB;}

.h2 {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 2rem;
    text-align: center;

    color: #383838;}

.submit {
  display: flex;
  justify-content: center; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  width: 400px;
  height: 100px;
  background: linear-gradient(102.51deg, #8B63FF 0.09%, #021A6F 100%);
  border-radius: 25px;
}



    /* FormStyles.css */

/* Apply dark background color to the form */
.form {
  align-items: center;
  flex-direction: column;
    background-color: #222;
    color: #fff;
  }
  
  /* Apply styles to form elements */
  