.borders{
margin-left: 10rem;
margin-right: 10rem;

}




/*.gradient1{
    position: absolute;
    width: 196.3px;
    height: 80px;
    left: 1183px;
    top: 376.59px;
    
    background: rgba(53, 133, 224, 0.3);
    filter: blur(85.5px);
    transform: rotate(-40.16deg);

}

.gradient2{
    position: absolute;
    width: 451.96px;
    height: 80px;
    left: 193.8px;
    top: 455.36px;
    
    background: rgba(179, 65, 177, 0.2);
    filter: blur(85.5px);
    transform: rotate(33.32deg);

}

.gradient3{


    position: absolute;
    width: 196.3px;
    height: 80px;
    left: 995px;
    top: 884.59px;
    
    background: rgba(53, 70, 224, 0.3);
    filter: blur(85.5px);
    transform: rotate(-40.16deg);
}

.gradient4{
    position: absolute;
    width: 451.96px;
    height: 80px;
    left: 849px;
    top: 1500.58px;
    
    background: rgba(179, 65, 177, 0.2);
    filter: blur(85.5px);
    transform: rotate(-28.63deg);

}

.gradient5{
    position: absolute;
width: 196.3px;
height: 80px;
left: 470px;
top: 1755.59px;

background: rgba(53, 70, 224, 0.3);
filter: blur(85.5px);
transform: rotate(-40.16deg);

}

.gradient6{
    position: absolute;
width: 451.96px;
height: 80px;
left: 884.95px;
top: 2151px;

background: rgba(179, 65, 177, 0.2);
filter: blur(85.5px);
transform: rotate(33.32deg);}

.gradient7{
    position: absolute;
    width: 196.3px;
    height: 80px;
    left: 116px;
    top: 2554.59px;
    
    background: rgba(53, 70, 224, 0.3);
    filter: blur(85.5px);
    transform: rotate(-40.16deg);

}

.gradient8{
    position: absolute;
    width: 196.3px;
    height: 80px;
    left: 1077.25px;
    top: 2990.34px;
    
    background: rgba(53, 70, 224, 0.3);
    filter: blur(85.5px);
    transform: rotate(-151.34deg);

}*/