@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url('./assets/Home.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0B0C15;
}
